@import 'public';

// 补丁 base
@import '~@/assets/style/fixed/base.scss';
// 补丁 element
@import '~@/assets/style/fixed/element.scss';
// 补丁 markdown
@import '~@/assets/style/fixed/markdown.scss';
// 补丁 vue-splitpane
@import '~@/assets/style/fixed/vue-splitpane.scss';
// 补丁 vue-grid-layout
@import '~@/assets/style/fixed/vue-grid-layout.scss';
// 补丁 tree-view
@import '~@/assets/style/fixed/tree-view.scss';

// 动画
@import '~@/assets/style/animate/vue-transition.scss';

// 在这里写公用的class
// 注意 这个文件里只写class
// mixin等内容请在 public.scss 里书写

// 文字相关
.#{$prefix}-text-center {
  text-align: center;
}

// 浮动相关
.#{$prefix}-fl {
  float: left;
}
.#{$prefix}-fr {
  float: right;
}
.#{$prefix}-clearfix:before,
.#{$prefix}-clearfix:after {
  display: table;
  content: "";
}
.#{$prefix}-clearfix:after {
  clear: both
}

// 边距相关
$sizes: (0, 5, 10, 15, 20);

@for $index from 1 to 6 {
  .#{$prefix}-m-#{nth($sizes, $index)} { margin: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-mt-#{nth($sizes, $index)} { margin-top: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-mr-#{nth($sizes, $index)} { margin-right: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-mb-#{nth($sizes, $index)} { margin-bottom: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-ml-#{nth($sizes, $index)} { margin-left: #{nth($sizes, $index)}px !important; }

  .#{$prefix}-p-#{nth($sizes, $index)} { padding: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-pt-#{nth($sizes, $index)} { padding-top: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-pr-#{nth($sizes, $index)} { padding-right: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-pb-#{nth($sizes, $index)} { padding-bottom: #{nth($sizes, $index)}px !important; }
  .#{$prefix}-pl-#{nth($sizes, $index)} { padding-left: #{nth($sizes, $index)}px !important; }

  .#{$prefix}-ptb-#{nth($sizes, $index)} { padding: #{nth($sizes, $index)}px 0 !important; }
  .#{$prefix}-plr-#{nth($sizes, $index)} { padding: 0 #{nth($sizes, $index)}px !important; }
  .#{$prefix}-mtb-#{nth($sizes, $index)} { margin: #{nth($sizes, $index)}px 0 !important; }
  .#{$prefix}-mlr-#{nth($sizes, $index)} { margin: 0 #{nth($sizes, $index)}px !important; }
}

// 字体大小

$fsizes: (12, 13, 14, 16, 18, 20);

@for $index from 1 to 6 {
  .#{$prefix}-font-size-#{nth($fsizes, $index)} { font-size: #{nth($fsizes, $index)}px !important; }
}

// 快速使用

.#{$prefix}-m { margin: 20px !important; }
.#{$prefix}-mt { margin-top: 20px !important; }
.#{$prefix}-mr { margin-right: 20px !important; }
.#{$prefix}-mb { margin-bottom: 20px !important; }
.#{$prefix}-ml { margin-left: 20px !important; }

.#{$prefix}-p { padding: 20px !important; }
.#{$prefix}-pt { padding-top: 20px !important; }
.#{$prefix}-pr { padding-right: 20px !important; }
.#{$prefix}-pb { padding-bottom: 20px !important; }
.#{$prefix}-pl { padding-left: 20px !important; }


// 树样式

.#{$prefix}-tree {
  height: 300px;
  overflow: auto;
  cursor: default;
  background: #fff;
  color: #606266;
  border: 1px solid #dcdfe6;
  border-radius: 5px;
  width: 100%;
}

.#{$prefix}-tree-node {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 8px;
}

// 页面布局

.#{$prefix}-panel {
  @extend %card;
  padding: 15px;
}

.#{$prefix}-panel__hd {
  margin-bottom: 15px;
}

.#{$prefix}-panel__bd {
  font-size: 12px;
}

.#{$prefix}-help-text {
  display: block;
  size: 12px;
  line-height: 20px;
  color: $color-text-sub;
  margin-block-start: .4em;
  margin-block-end: 0;
  cursor: text;
}

.#{$prefix}-help-box {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  color: $color-tips-text;
  font-size: 14px;
  line-height: 30px;
  border: 1px solid $color-tips-border;
  background: $color-tips-bg;
  em {
    color: $color-primary;
  }
  i {
    color: $color-warning;
  }
}
// dashboard
